.btn {
  color: #ffffff;
  font-family: 'Avenir-Medium';
  display: inline-block;
  text-align: center;

  &:hover {
    color: #fff; //Hack ant.css
  }
}

.btn.yellow {
  background: $yellow;
  @include bg-transition($yellow);
}

.btn.green {
  background: $green;
  @include bg-transition($green)
}
