.btn {
  color: #ffffff;
  font-family: 'Avenir-Heavy';
  display: inline-block;
  text-align: center;
}

.btn.yellow {
  background: $yellow;
  transition: background .2s;
  -moz-transition: background .2s;
  -webkit-transition: background .2s;
  -o-transition: background .2s;
  -ms-transition: background .2s;

  &:hover {
    background: lighten($yellow,10%);;
  }
}

.btn.green {
  background: $green;
  transition: background .2s;
  -moz-transition: background .2s;
  -webkit-transition: background .2s;
  -o-transition: background .2s;
  -ms-transition: background .2s;

  &:hover {
    background: lighten($green,10%);
  }
}
