@mixin bg-transition($color, $attr: background) {
  transition: background .2s;
  -moz-transition: background .2s;
  -webkit-transition: background .2s;
  -o-transition: background .2s;
  -ms-transition: background .2s;

  &:hover {
    #{$attr}: lighten($color, 10%);
  }
}
