* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

li { list-style: none; }
a { color: #000; }
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}


// @font-face {font-family: 'iconfont';
//     src: url('iconfont.eot'); /* IE9*/
//     src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//     url('iconfont.woff') format('woff'), /* chrome、firefox */
//     url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
//     url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
// }

i {
  font-family: "iconfont" !important;;
  font-size: 16px;
  font-style: normal !important;;
}

.h1 {
  font-family: 'Avenir-Medium';
  font-size: 34px !important;
}

.container {
  width: 1100px;
  margin: auto;
}

.fl { float: left !important;; }
.fr { float: right !important;; }
.tl { text-align: left !important;; }
.small { font-size: 12px !important; }
.underline { text-decoration: underline !important;; }

.in_block { display: inline-block !important;; }
