$yellow           : #ff9900;
$green            : #146eb4;
$blueness         : #9aaec9;
$red              : rgba(243,66,54,0.94);
$deongaree        : rgba(72,102,160,0.94);

//== Z-index
$zindex_hidden    : -100;
$zindex_base      : 500;
$zindex_mask      : 600;
$zindex_login_page: 1000;

$product_list_height: 200px;
$product_list_width: 950px;
