$nav_fsize: 20px;

// Nav
.nav {
  background: #282c37;
  width: 100%;
  height: 72px;
  font-size: 0;
  line-height: 72px;
  font-family: 'Avenir-Book';

  a { color: $yellow; }

  .container {
    height: inherit;
    padding-left: 50px;
  }

  .logo {
    font-family: 'Avenir-HeavyOblique';
    font-size: $nav_fsize;
    font-weight: bold;
    vertical-align: top;
  }

  .search {
    position: relative;
    margin-left: 100px;
    margin-right: 50px;
    width: 500px;
    height: 38px;
    margin-top: 18px;

    input {
      width: 500px;
      height: 38px;
      vertical-align: top;
      background: #d9e1e8;
      border: none;
      outline: none;
      padding-left: 10px;
      border-radius: 5px;
    }

    i {
      position: absolute;
      right: 10px;
      bottom: 10px;
      z-index: $zindex_base;
      font-size: 28px;
      height: 43px;
      color: #999;
    }
  }

  .entry {
    vertical-align: top;
    font-size: $nav_fsize;
    color: #fff;

    a { color: inherit; }
  }

  .my_list {
    font-size: $nav_fsize;

    i {
      font-size: 24px;
    }
  }
}

//Footer
.footer {
  padding-top: 30px;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
  background: #232323;
  font-size: 0;
  text-align: center;
  color: white;

  a { color: inherit;}

  .in_block {
    width: 25%;
    height: 72px;
    vertical-align: top;
    margin-bottom: 30px;
  }

  .logo {
    font-size: 36px;
    line-height: 72px;
  }

  .aside {
    padding-top: 10px;
    font-size: 12px;
    line-height: 20px;
  }

  .small { opacity: .5; }
}
