// search result
.search_result.container {
  width: $product_list_width;
  font-size: 0;

  .ant-pagination {
    float: right;
    margin-top: 20px;
  }

  .product_list_search {
    margin-top: -1px;
    width        : 100%;
    height       : $product_list_height;
    border: 1px #d9e1e8 solid;

    &:first-child {
      border-bottom: none;
    }

    &:first-child {
      border-bottom: 1px #d9e1e8 solid;
    }
  }

  .product_info {
    width       : 699px;
    height      : inherit;
    font-size   : 12px;
    border-right: 1px #d9e1e8 solid;

    .media_hd {
      margin-right: 10px;
      margin-left: 10px;
      padding: 5px;
      width       : 180px;
      height      : 180px;
      line-height : 180px;
      text-align  : center;

      img {
        width         : 100%;
        max-height    : 100%;
        vertical-align: middle;
      }
    }

    .media_bd {
      width: 498px;
      @include calc("width", "100% - #{202px}");
      line-height: 26px;
      font-size: 14px;
      height: inherit;

      // Rate
      .ant-rate {
        font-size: 12px;
        li { margin-right: 3px; }
      }

      h4 {
        padding-top: 15px;
        padding-bottom: 10px;
        text-decoration: underline;
        font-size    : 20px;
        color: $green;
        width        : auto;
        @extend %text_ellipsis;
      }

      p {
        color             : #999999;
        font-size         : 13px;
        line-height       : 1.4;
        @include text_multiLine_ellipsis(2, 1.4)
      }
    }
  }

  .product_price {
    width: 248px;
    height: inherit;
    font-size: 14px;
    color: $green;

    .price_container {
      height: $product_list_height / 2;
      padding: 25px;

      &:first-child {
        border-bottom: 1px #d9e1e8 solid;
      }
    }

    .pl  {
      width: 50px;
    }

    .pr {
      width: 150px;
    }

    .btn { margin-top: 5px; }

    em { color: $blueness; }
  }
}

// My Price Watch List
.my_account {
  width: $product_list_width + 70;
  height: auto;
  margin: auto;

  .h1 { margin: 30px 0; }

  .subtitle {
    font-size: 20px;
    padding-bottom: 5px;
  }

  .ant-pagination {
    float: right;
    margin-top: 20px;
  }
}

.price_watch_list.container {
  @extend .search_result;
  width: $product_list_width + 70;

  .product_price {
    width: 328px;

    .price_container {
      height: $product_list_height / 3;
      line-height: $product_list_height / 3 - 30;
      padding: 15px;
      padding-right: 0;

      .price {
        display: inline-block;
        padding: 0 10px;
      }

      i { font-size: 22px; }
    }
  }
}
