.product_list {
  width: 100%;

  .h1 { margin-bottom: 10px; }

  .carousel_container {
    position: relative;
    left: 0;
    right: 0;
    width : 1100px;
    margin: auto;
  }

  .carousel_control {
    position: absolute;
    top: 50%;
    z-index: $zindex_base;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: $blueness;
    @include bg-transition($blueness, color)
  }

  .arrow-left { left: -60px; }
  .arrow-right { right: -60px; }

  .box {
    width     : 1100px;
    height    : 392px;
    overflow  : hidden;
    position  : relative;
    border-top: none;

    ul li {
      float  : left;
      margin-right: 10px;
      padding: 8px;
      width: 210px;
      height: 355px;
      border: 1px #ccc solid;
      font-size: 12px;
      text-align: center;
    }
  }

  .product {
    img {
      height: 176px;
      width: 200px;
      margin-bottom: 5px;
    }

    .product_title {
      @include text_multiLine_ellipsis(3, 20px);
      text-align: left;
    }

    .price {
      margin-top: 15px;
      font-family: 'Avenir';
      font-size: 24px;
      line-height: 20px;
      color: $green;
    }
  }

  .wrap {
    position: absolute;
    z-index: $zindex_base;
    top     : 0;
    left: 0;
  }

  .submit {
    width: 100%;
    height: 30px;
    margin-top: 15px;
  }
}
