// search input
.search_input.container {
  margin-top : 60px;
  font-family: 'Avenir-Heavy';

  .title {
    margin-bottom: 50px;
    text-align   : center;
  }

  h1 {
    font-size: 32px;
    color    : $yellow;
  }

  p {
    font-size: 20px;
    color    : $green;
  }

  .search {
    margin       : auto;
    width        : 800px;
    height       : 70px;
    border       : 8px $blueness solid;
    border-radius: 10px;

    input {
      width         : 680px;
      height        : 54px;
      padding-left  : 5px;
      border        : none;
      outline       : none;
      border-right  : 8px $blueness solid;
      font-size     : 20px;
      vertical-align: bottom;
    }

    .search_icon {
      width      : 100px;
      text-align : center;
      height     : 54px;
      line-height: 54px;

      i {
        font-size: 40px;
        color    : $blueness;
        cursor: pointer;
      }
    }
  }

  .small {
    display   : block;
    margin    : 5px auto auto;
    width     : 800px;
    text-align: left;
  }
}

// Seatch Filter
.search_filter {
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 20px;
  width: $product_list_width;
  height: 200px;
  background:rgba(239,239,245,0.39);
  font-size: 18px;
  line-height: 40px;
  border: 1px #ccc solid;

  .fl {
    width: 50%;
    height: 200px;
  }

  .fr {
    width: 50%;
    height: 200px;
    padding-top: 38px;
    line-height: 48px;
  }
}

.search_limit {
  margin-bottom: 15px;
  padding-right: 15px;
  width: $product_list_width;
  height: 50px;
  line-height: 50px;

  h1 { font-weight: 400; }
  span { color: $green; }
  .sorted { font-size: 20px; }
}
