.btn {
  color: #ffffff;
  font-family: 'Avenir-Medium';
  display: inline-block;
  text-align: center;
  border-radius: 5px;

  &:hover {
    color: #fff; //Hack ant.css
  }
}

.btn.yellow {
  background: $yellow;
  @include bg-transition($yellow);
}

.btn.green {
  background: $green;
  @include bg-transition($green)
}

.btn.red {
  background: $red;
  @include bg-transition($red)
}

.btn.deongaree{
  background: $deongaree;
  @include bg-transition($deongaree)
}
